1. Create Django Project & App

django-admin startproject expense_tracker
cd expense_tracker
python manage.py startapp expenses


Add app to settings.py:
INSTALLED_APPS = [
    ...
    'expenses',
]

2. Create Expense Model (expenses/models.py)
After adding model in expenses
run command in terminal

python manage.py makemigrations  or python3
python manage.py migrate
python manage.py createsuperuser  - 
   Username (leave blank to use 'aartinagar'): aarti_nagar
   Email address: naarti101@gmail.com
   Password: Nagar@13

3. Forms (expenses/forms.py)

4. Views (expenses/views.py)

5. URLs
urls.py in expenses app
Do changes urls.py in project -add app path


6. Templates add in app

7. Login System (Using Django Auth)
python manage.py runserver  (in terminal)


================================
for pdf generator 
install 
pip install openpyxl reportlab




